<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css" type="text/css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta charset="UTF-8">
<title th:text="#{index.title}"></title>
</head>
<body>
<nav class="navbar navbar-default">
<ul class="nav navbar-nav">
	<li><a th:if="${session.loggedin} != null" th:href="@{/logout}" id="loginbutton"><span th:text="#{index.logout}"></span></a></li>
	<li><a th:if="${session.loggedin} != null" th:href="@{/newProject}" id="loginbutton"><span th:text="#{index.newProject}"></span></a></li>
	<li><a th:if="${session.loggedin} == null" th:href="@{/login}"  id="loginbutton"><span th:text="#{index.login}"></span></a></li>
	<li><a th:if="${session.loggedin} == null" th:href="@{/register}" id="loginbutton"><span th:text="#{index.register}"></span></a></li>
	<li><a th:href="@{/index}" id="loginbutton"><span th:text="#{index.index}"></span></a></li>
	</ul>
	</nav>
<table class="table table-bordered">
		<tr>
			<th><span th:text="#{index.id}"></span></th>
			<th><span th:text="#{index.date}"></span></th>
			<th><span th:text="#{index.name}"></span></th>
			<th><span th:text="#{index.desc}"></span></th>
			<th><span th:text="#{index.target}"></span></th>
			<th><span th:text="#{index.amount}"></span></th>
		</tr>
			
		<tr th:each="project,iterationCount : ${projects}" 
			th:class="${iterationCount.odd}? 'odd'"
			th:object="${project}">
			<td><a th:if="${session.loggedin} != null" th:href="@{/project/} + *{projectId}" id="loginbutton"><span th:text="*{projectId}"></span></a></td>			
			<td th:text="*{startDate}"></td>
			<td th:text="*{projectName}"></td>
			<td th:text="*{projectDesc}"></td>
			<td th:text="*{projectTarget}"></td>
			<td th:text="*{currentAmount}"></td>
		</tr>
	</table>
</body>
</html>